@using static dn32.infra.DnDocExtension

@{
    ViewData["Title"] = "Autentication".G();
}

<div class="auth-container">

    <form method="post">
        <div class="form-group">
            <label for="user">@("E-mail".G())</label>
            <input class="form-control" placeholder="@("Enter the e-mail".G())" name="email" />
        </div>
        <div class="form-group">
            <label for="user">@("Password".G())</label>
            <input type="password" class="form-control" placeholder="@("Enter the password".G())" name="psw" />
        </div>
        <button type="submit" class="btn btn-primary">@("Login".G())</button>
    </form>

</div>
