@using dn32.infra
@using static dn32.infra.DnDocExtension
@{
    var values = ViewContext.RouteData.Values;
    if (values == null) { throw new InvalidOperationException("ViewContext.RouteData.Valores is null"); }

    var action = values["Action"]?.ToString()?.ToLower() ?? "";
    var controller = values["Controller"]?.ToString()?.ToLower() ?? "";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - @(("Available services").G())</title>
    <link rel="stylesheet" href="/DnDoc/lib/bootstrap.min.css" />
    <link rel="stylesheet" href="/DnDoc/css/site.css" />
</head>
<body>

    <header>
        @await Html.PartialAsync("_Dn_custom_header")
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container principal-menu">

                <a class="navbar-brand @(controller == "Dndoc" && (action == "service" || action == "index") ? "active" : "")" asp-area="" asp-controller="DnDoc" asp-action="Index">@(("Services").G())</a> |

                <a class="navbar-brand @(controller == "Dndoc" && action == "entity" ? "active" : "")" asp-area="" asp-controller="DnDoc" asp-action="Entity">@(("Entidade").G())</a> |

                <a class="navbar-brand @(controller == "Dndoc" && (action == "model" || action == "modelnoentity") ? "active" : "")" asp-area="" asp-controller="DnDoc" asp-action="ModelNoEntity">@(("Model").G())</a> |

                <a class="navbar-brand @(controller == "authentication" ? "active" : "")" asp-area="" asp-controller="DnDoc" asp-action="Token">@(("Authentication").G())</a>

            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            <a href="https://github.com/dn32/DnControlador.Infrastructure.Doc/wiki" target="_blank">DnControlador Arquitetura Doc  &copy; - @(("Available services").G())</a>
        </div>
    </footer>

    <script src="/DnDoc/lib/jquery-3.4.1.min.js"></script>
    <script src="/DnDoc/lib/bootstrap.min.js"></script>

</body>
</html>
