


@model List<EntityModelAndName>

@{
    var title = "Entidades disponíveis";
    ViewData["Title"] = title.G();
}

<div class="services-container">
    <span class="general-title">@title.G() (@Model.Count)</span>

    @{
        var grupos = Model.GroupBy(x => x.Grupo).ToList();
        foreach (var grupo in grupos)
        {
            <div style="border: solid 1px #ddd; padding: 10px;margin: 10px 0px 10px 0px;border-radius: 5px;">
                <h6>@grupo.First().Grupo</h6>

                @foreach (var entity in grupo.ToList())
                {
                    <div class="service">
                        <span class="title"><a href="/dndoc/modelo?Nome=@entity.FullName">@entity.Name</a></span>
                        @*<span class="Descricaoription">@entity.FriendlyName</span>*@
                    </div>
                }

            </div>
        }
    }
</div>
