@using dn32.infra.Nucleo.Doc.Controllers
@using static dn32.infra.DnDocExtension

@model List<EntityModelAndName>

@{
    var title = "Serviços disponíveis";
    ViewData["Title"] = title.G();
}

<div class="services-container">

    <span class="total-endpoints">@("Total".G()): @(string.Format("{0:0,0}",(Model.Count * 28))) @("endpoints".G())</span>
  
    <div style="display:inline-flex; width:100%">
        <h4 class="general-title">@title.G() (@Model.Count)</h4>
    </div>

    @{
        foreach (var entity in Model)
        {
            <div class="service">
                <span class="title"><a href="/dndoc/servico?Nome=@entity.Name">@entity.FriendlyName</a></span>
                <span class="Descricaoription">@entity.Description</span>
            </div>
        }
    }
</div>
