@using dn32.infra
@using dn32.infra
@using dn32.infra
@using System.Reflection;
@using dn32.infra
@using dn32.infra
@using dn32.infra;

@using static dn32.infra.DnDocExtension

@model DnJsonSchema

@{
    ViewData["Title"] = Model.Formulario.Nome;
}
<script>
    function navegate(url) {
        window.location.href = url;
    }
</script>
<div class="one-service-container">
    <h4 class="general-title">@Model.Formulario.Nome</h4>
    <hr />
    <h6 style="text-align:center;">@Model.Formulario.Descricao</h6>

    @{
        string Is(bool operation, string text)
        {
            return operation ? text : "";
        }

        <div class="properties-container" style="apresentar:@(Model.Propriedades.Any() ? "block" : "none")">
            <span class="title">@(("Propriedades").G())</span>
            <table class="properties">
                <thead>
                    <tr>
                        <th>@(("Propriedade").G())</th>
                        <th>@(("Nome").G())</th>
                        <th>@(("Descrição").G())</th>
                        <th>@(("Tipo").G())</th>
                        <th>@(("Outros").G())</th>
                    </tr>
                </thead>
                @foreach (var property in Model.Propriedades.OrderBy(x => x.Nome))
                {
                    if (property.Formulario == EnumTipoDeComponenteDeFormularioDeTela.Nenhum) { continue; }
                    if (property.Propriedade?.GetCustomAttribute<DnDocAttribute>()?.Apresentacao == EnumApresentar.Ocultar) { continue; }
                    var max = property.Maximo == int.MaxValue ? "max" : property.Maximo.ToString();
                    var range = (property.Minimo == property.Maximo ? property.Minimo.ToString() : property.Minimo + ", " + max);
                    range = range == "0" ? "" : $" ({range})";

            <tr class="property">
                <td class="name">@property.NomeDaPropriedade</td>
                <td class="name">@property.Nome</td>
                <td class="Descricaoription">@property.Descricao</td>

                @if (string.IsNullOrWhiteSpace(property.Link))
                {
                    if (property.EhEnumerador)
                    {
                        <td class="tipo">@Html.Raw(property.Valor)</td>
                    }
                    else
                    {
                        <td class="tipo">@Html.Raw(property.Tipo.GetFriendlyName())</td>
                    }
                }
                else
                {
                    <td class="tipo"><a href="@property.Link">@Html.Raw(property.Tipo.GetFriendlyName()) @range</a></td>
                }
            <td>
                @Html.Raw(Is(property.EhEnumerador, "<span style='white-space: nowrap;'><img src='/DnDoc/img/ok.png'/> " + "enum".G() + "</span>"))
                @Html.Raw(Is(property.EhChave || property.EhDnChaveUnica, "<span><img src='/DnDoc/img/ok.png'/> " + "pk".G() + "</span>"))
                @Html.Raw(Is(property.EhLista, "<span style='white-space: nowrap;'><img src='/DnDoc/img/ok.png'/> " + "lista".G() + "</span>"))
                @Html.Raw(Is(property.PermiteNulo, "<span style='white-space: nowrap;'><img src='/DnDoc/img/ok.png'/> " + "aceita nulo".G() + "</span>"))
                @Html.Raw(Is(property.EhRequerido, "<span style='white-space: nowrap;'><img src='/DnDoc/img/ok.png'/>" + "requerido".G() + "</span>"))
                @Html.Raw(Is(property.Agregacao != null, "<span style='white-space: nowrap;'><img src='/DnDoc/img/ok.png'/> " + "navegação".G() + "</span>"))
                @Html.Raw(Is(property.Composicao != null, "<span style='white-space: nowrap;'><img src='/DnDoc/img/ok.png'/> " + "navegação".G() + "</span>"))
                @Html.Raw(Is(property.EhChaveExterna, "<span style='white-space: nowrap;'><img src='/DnDoc/img/ok.png'/>  " + "fk".G() + " <a href=\"/DnDoc/modelo?Nome=" + property.DestinoDeChaveExterna?.Tipo?.Name + "\">" + property.DestinoDeChaveExterna?.NomeDaPropriedade + "</a></span>"))
                @Html.Raw(Is(!string.IsNullOrEmpty(property.Desabilitado), "<span style='white-space: nowrap;'><img src='/DnDoc/img/no.png'/>  " + property.Desabilitado + "</a></span>"))
            </td>
            </tr>
                }
            </table>
            @{
                var exampleValue = Model.Formulario?.Tipo?.GetExampleValueString() ?? "";

                if (!string.IsNullOrWhiteSpace(exampleValue) && exampleValue != "null")
                {
                    <div class="example-valor-container">
                        <span>@("Valor de exemplo".G())</span>
                        <pre class="example-value">@exampleValue</pre>
                    </div>
                }
            }
        </div>
    }
</div>
